<h1>Welcome, <%= current_user.username %></h1>

<% if current_user.teacher? %>
<%= link_to "Add a Student", new_teacher_student_path %>
<%= link_to "See All Student Forms", teacher_forms_path %>
<%= link_to "View all of your students", teacher_students_path %>
<% end %>
