<div><h1 class='text-center'>Welcome! </h1></div>

<div class="card-group">

    <a href='/login' class="card custom-card">
      <img class="card-img-top" src="parents-clip-art-parents-and-children.png" alt="Parent image">
      <div class="card-body">
        <h5 class="card-title">Parents</h5>
        <p class="card-text">Click here to log in and view your child's forms.</p>
      </div>
    </a>
    <a href='/forms/new' class="card custom-card">
      <img class="card-img-top" src="students-at-school.png" alt="Student image">
      <div class="card-body">
        <h5 class="card-title">Students</h5>
        <p class="card-text">Click here to fill out your form!</p>
      </div>
    </a>
    <a href='/login' class="card custom-card">
      <img class="card-img-top" src="teacher-sitting-at-desk.png" alt="Teacher image">
      <div class="card-body">
        <h5 class="card-title">Teachers</h5>
        <p class="card-text">Click here to log in and manage your students forms.</p>
      </div>
    </a>
</div>
